.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw; /* Ensure the content never exceeds the viewport width */
    margin: auto;
    height: auto;
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 100vw; /* Ensure the content never exceeds the viewport width */
    }
}

@media screen and (max-width: 320px) {
    .content {
        max-width: 100vw; /* Ensure the content never exceeds the viewport width */
    }
}
