.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%; /* Ensure the width never exceeds the viewport */
    margin: auto;
    height: auto; /* Ensure the height matches the content */
}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 100%; /* Ensure the content width never exceeds the viewport */
    }
}

@media screen and (max-width: 544px) {
    .content {
        max-width: 100%; /* Ensure the content width never exceeds the viewport */
    }
}
