.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 85vw;
    margin: auto;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .content {
        width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        margin: auto;
    }
}
