.header {
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  height: 68.94px;
  width: 254.84px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .header__logo {
    height: 66px;
    width: 254px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    height: 52px;
    width: 188px;
    margin-top: 20x;
  }
}
