.lead {
  display: flex;
  flex-direction: column;
  margin-top: 91.06px;
  margin: auto;
  height: 983px;
  width: 76.875vw;
}
.lead__title {
  font-size: 7.5vw;
  line-height: 7.8vw;
  font-weight: 900;
  text-align: center;
  width: 56.25vw;
  margin: auto;
}
.lead__subtitle {
  font-size: 3.9vw;
  line-height: 4.68vw;
  font-weight: 400;
  text-align: center;
  width: 56.25vw;
  margin: 25px auto 0;
}
.lead__image {
  margin-top: 64px;
  width: 60vw;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .lead {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 93.75;
    height: 255px;
    margin-left: auto;
    margin-right: auto;
  }

  .lead__title {
    font-size: 9.76vw;
    line-height: 10.29vw;
    font-weight: 900;
    text-align: center;
    width: 69.01vw;
    margin: auto;
  }
  .lead__image {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 90vw;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
  }
  .lead__title {
    font-size: 12.5vw;
    line-height: 13.75vw;
    font-weight: 900;
    text-align: center;
    width: 71.25vw;
    height: 27.5vw;
    margin: auto;
  }
  .lead__image {
    display: none;
  }
}
