html {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  min-width: 320px;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  z
}

body {
  display: flex;
  flex-direction: column; /* Ensure the body content is arranged vertically */
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  margin: 0;
  max-width: 984px;
  width: 100%; /* Ensure the page takes the full width */
}

.header {
  width: 100%; /* Ensure the header takes the full width */
  display: flex;
  justify-content: center; /* Center header content horizontally */
  align-items: center; /* Center header content vertically */
  padding: 20px 0; /* Add some padding for better visibility */
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%; /* Ensure the content takes the full width */
}

@media screen and (max-width: 768px) {
  .page,
  .content {
    max-width: 100%; /* Ensure the elements do not exceed the viewport width */
  }
}

@media screen and (max-width: 320px) {
  .page,
  .content {
    max-width: 100%; /* Ensure the elements do not exceed the viewport width */
  }
}
